<launch>
  <group ns="perception">
    <node name="object_classification_server"
          pkg="perception"
          type="classification"
          output="screen"
          respawn="false">
    <!-- Camera topic -->
    <param name="camera_topic"
     value="/wamv/sensors/cameras/front_left_camera/image_raw"
     type="string"/>
    <param name="hsv_threshold"
     value="10.0"
     type="double"/>
   </node>
  </group>
</launch>
