# ROS
.catkin_tools
catkin_ws/logs
catkin_ws/build
catkin_ws/devel
catkin_ws/install
ros_lib
*.bag

# Python
*.py[cod]

# C extensions
*.so

# Temporary files
*~
*.swo
*.swp
.DS_Store

# Robot Model
*mr_wamv.urdf

# VRX Repo
catkin_ws/src/vrx
