<launch>
  <node name="rate_controller"
   pkg="control"
   type="controller"
   output="screen"
   respawn="false">

    <!--Yaw rate controller params -->
    <!-- (These are tuned so they should be moved to config file) -->
    <param name="yaw_rate/Kp" value="1.0" type="double"/>
    <param name="yaw_rate/Ki" value="0.4" type="double"/>
    <param name="yaw_rate/Kd" value="1.0" type="double"/>

    <param name="yaw_rate/max_windup" value="5" type="double"/>
    <param name="yaw_rate/min_effort" value="-1." type="double"/>
    <param name="yaw_rate/max_effort" value="1." type="double"/>

    <!--Lateral velocity controller params-->
    <param name="lateral_vel/Kp" value="1" type="double"/>
    <param name="lateral_vel/Ki" value="0.1" type="double"/>
    <param name="lateral_vel/Kd" value="0" type="double"/>

    <param name="lateral_vel/max_windup" value="5" type="double"/>
    <param name="lateral_vel/min_effort" value="-1" type="double"/>
    <param name="lateral_vel/max_effort" value="1" type="double"/>

    <!--Forward velocity controller params-->
    <param name="forward_vel/Kp" value="4" type="double"/>
    <param name="forward_vel/Ki" value="0.4" type="double"/>
    <param name="forward_vel/Kd" value="0" type="double"/>

    <param name="forward_vel/max_windup" value="5" type="double"/>
    <param name="forward_vel/min_effort" value="-5" type="double"/>
    <param name="forward_vel/max_effort" value="5" type="double"/>

    <!-- Mixer params -->
    <param name="mixer/front_left_weight" value="1" type="double"/>
    <param name="mixer/front_right_weight" value="1" type="double"/>
    <param name="mixer/back_left_weight" value="0.6" type="double"/>
    <param name="mixer/back_right_weight" value="0.6" type="double"/>

    <!-- Thruster topics -->
    <param name="front_left_thrust_topic" value="/wamv/thrusters/left_front_thrust_cmd" type="string"/>
    <param name="front_right_thrust_topic" value="/wamv/thrusters/right_front_thrust_cmd" type="string"/>
    <param name="back_left_thrust_topic" value="/wamv/thrusters/left_rear_thrust_cmd" type="string"/>
    <param name="back_right_thrust_topic" value="/wamv/thrusters/right_rear_thrust_cmd" type="string"/>

    <!-- Input topics -->
    <param name="odom_topic" value="/wamv/robot_localization/odometry/filtered" type="string"/>
    <param name="setpoint_topic" value="/control/cmd_vel" type="string"/>
  </node>

  <node name="waypoint_controller"
   pkg="control"
   type="waypoint_controller"
   output="screen"
   respawn="false">

    <param name="acceptance_radius" value="0.01" type="double"/>
    <param name="acceptance_radius" value="0.1" type="double"/>
    <param name="cmd_vel_topic" value="/control/cmd_vel" type="string"/>
    <param name="wp_add_topic" value="/control/push_waypoint" type="string"/>
    <param name="wp_clear_topic" value="/control/clear_waypoints" type="string"/>

    <!--Lateral position controller params-->
    <param name="lateral_pos/Kp" value="3" type="double"/>
    <param name="lateral_pos/Ki" value="0.1" type="double"/>
    <param name="lateral_pos/Kd" value="1" type="double"/>

    <param name="lateral_pos/max_windup" value="5" type="double"/>
    <param name="lateral_pos/min_effort" value="-2" type="double"/>
    <param name="lateral_pos/max_effort" value="2" type="double"/>

    <!--Longitudinal position controller params-->
    <param name="longitudal_pos/Kp" value="4" type="double"/>
    <param name="longitudal_pos/Ki" value="0.4" type="double"/>
    <param name="longitudal_pos/Kd" value="1" type="double"/>

    <param name="longitudal_pos/max_windup" value="5" type="double"/>
    <param name="longitudal_pos/min_effort" value="-5" type="double"/>
    <param name="longitudal_pos/max_effort" value="5" type="double"/>

    <!--Yaw position controller params-->
    <param name="yaw_pos/Kp" value="7" type="double"/>
    <param name="yaw_pos/Ki" value="0.4" type="double"/>
    <param name="yaw_pos/Kd" value="1" type="double"/>

    <param name="yaw_pos/max_windup" value="5" type="double"/>
    <param name="yaw_pos/min_effort" value="-1" type="double"/>
    <param name="yaw_pos/max_effort" value="1" type="double"/>

  </node>
</launch>
